.main {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Commissioner", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-left: 165px;
}
.header__nav {
  width: 705px;
  display: flex;
  gap: 49px;
  background: #f94f4f;
  padding: 56px 165px 58px 69px;
  align-items: center;
}
.header__nav__ul {
  display: flex;
  gap: 32px;
}
.p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.btn {
  width: 199px;
  height: 64px;
  flex-shrink: 0;
  background: #191921;
  font-weight: 800;
  line-height: normal;
  border: none;
}
/* .hero {
  gap: 39px;
  display: flex;
  flex-direction: column;
} */
.hero h1 {
  color: #000;
  font-size: 80px;
  font-weight: 800;
  line-height: 88px;
  width: 710px;
  /* height: 273px; */
}
.hero {
  background-image: url("./images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 112px 545px 160px 165px;
  gap: 39px;
  display: flex;
  flex-direction: column;
}
.hero p {
  font-size: 18px;
  color: #000;
  width: 540px;
}
.btn2 {
  width: 177px;
  height: 72px;
  background: #f94f4f;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  font-family: inherit;
  margin-top: 9px;
  border: none;
}
.content1 {
  display: flex;
}
.content1__left {
  background-image: url("./images/content1-bg.svg");
  background-repeat: no-repeat;
  width: 735px;
  height: 984px;
}
.content1__right {
  width: 705px;
  height: 984px;
  background: #191921;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 43px;
  padding: 200px 106px 200px 154px;
}
#tilde1 {
  position: absolute;
  top: 234px;
  left: -67px;
}

.content1__right h2,
.h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  width: 410px;
}
.content1_right__span {
  color: #f94f4f;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
}
.content1__right p {
  color: #fff;
  width: 390px;
}
.schedule {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 5px;
}

.schedule p {
  color: #f94f4f;
  font-family: inherit;
  font-size: 18px;
  font-weight: 800;
}
.line {
  width: 124px;
  height: 2px;
  background-color: #f94f4f;
}
.content2 {
  display: flex;
  max-width: 1440px;
  height: 900px;
}
.content2__left {
  background-color: white;
  width: 545px;
  height: 900px;
}
.content2__left h2 {
  position: absolute;
  width: 540px;
  color: #000;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  margin: 200px -160px 508px 165px;
  z-index: 2;
}
.content2__right {
  display: flex;
  flex-direction: column;
  gap: 56px;
  background-color: #f94f4f;
  width: 895px;
  /* transform: translateY(-200px); */
  z-index: 1;
  margin-top: -200px;
  padding: 200px 106px 200px 285px;
}
.brand,
.brand2,
.brand3 {
  max-width: 504px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 44px;
  padding-left: 59px;
}
.brand::after,
.brand2::after,
.brand3::after {
  content: "01";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  font-size: 80px;
  font-weight: 800;
  line-height: 88px;
  opacity: 0.25;
}
.brand2::after {
  content: "02";
}
.brand3::after {
  content: "03";
}

.brand h3,
h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  width: 445px;
}
.brand p {
  width: 417px;
  font-size: 18px;
}
.content3 {
  display: flex;
}
.content3__left h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  width: 445px;
  /* height: 133px; */
  margin-bottom: 51px;
}
.content3__left {
  width: 735px;
  background: #191921;
  height: 528px;
  padding: 152px 125px 152px 165px;
  position: relative;
}
.btn3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #f94f4f;
  color: #f94f4f;
  background-color: transparent;
  margin-right: 16px;
}
.content3__right {
  background-image: url("./images/learnproductimg.svg");
  background-repeat: no-repeat;
  margin-left: -190px;
  z-index: -1;
  padding: 596px 154px 68px 526px;
}
.content3__right p {
  font-size: 18px;
  margin-left: 111px;
}
.tilde2 {
  position: absolute;
  top: 186px;
  left: 668px;
  z-index: 2;
}
.footer {
  display: flex;
  gap: 98px;
  padding: 120px 0 115px;
  align-items: center;
}
.footer h2 {
  color: #000;
  width: 635px;
  margin-right: 178px;
}
.footer button {
  background: #f94f4f;
}
#burger {
  display: none;
}
#hero-mobile,
#content1-mobile,
.content2__h2,
#learn-mobile {
  display: none;
}
@media screen and (max-width: 1200px) {
  .main {
    max-width: 768px;
  }
  .header {
    margin-left: 39px;
  }
  .header__nav {
    width: 438px;
    gap: 28px;
    padding: 57px 40px 57px 33px;
  }
  .header__nav__ul {
    gap: 20px;
  }
  .p {
    font-size: 15px;
    line-height: 25px;
  }
  .btn {
    width: 147px;
    line-height: 32px;
  }
  .hero {
    padding: 77px 331px 150px 39px;
    background-image: url("./images/hero-bg-tablet.svg");
    gap: 19px;
  }
  .hero h1 {
    font-size: 56px;
    line-height: 56px;
    width: 398px;
  }
  .hero p {
    width: 460px;
  }
  .btn2 {
    margin-top: 13px;
  }
  .content1__left {
    background-image: url("./images/content1-bg-tab.svg");
    width: 378px;
    height: 658px;
  }
  .content1__right {
    width: 390px;
    height: 658px;
    gap: 32px;
    padding: 120px 40px 120px 69px;
  }
  #tilde1 {
    width: 63px;
    height: 29px;
    top: 145px;
    left: -32px;
  }
  .content1__right h2,
  .content1_right__span,
  .h2 {
    font-size: 32px;
    line-height: 40px;
    width: 250px;
  }
  .content1__right p {
    width: 290px;
  }
  .schedule p {
    font-size: 15px;
  }
  .line {
    width: 103px;
  }
  .content2 {
    max-width: 768px;
    height: 677px;
  }
  .content2__left h2 {
    margin: 126px 10px 431px 39px;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    width: 281px;
  }
  .content2__right {
    width: 438px;
    gap: 40px;
    margin-top: -120px;
    padding: 120px 40px 120px 43px;
  }
  .brand,
  .brand2,
  .brand3 {
    width: 355px;
    gap: 15px;
    padding-top: 44px;
    padding-left: 16px;
  }
  .brand h3,
  h3 {
    font-size: 15px;
    line-height: 25px;
    width: 334px;
  }
  .brand p {
    width: 339px;
    font-size: 15px;
  }
  .content3__left h2 {
    font-size: 32px;
    line-height: 40px;
    width: 281px;
    margin-bottom: 32px;
  }
  .content3__left {
    width: 390px;
    height: 352px;
    padding: 100px 70px 100px 39px;
  }
  .content3__right {
    background-image: url("./images/learn-bg-tab.svg");
    margin-left: -60px;
  }
  .tilde2 {
    width: 62.533px;
    height: 28.525px;
    top: 126px;
    left: 359px;
  }
  .content3__right {
    padding: 387px 40px 45px 237px;
  }
  .content3__right p {
    margin-left: 75px;
    font-size: 15px;
    margin-left: -10px;
  }
  .content3__right h3 {
    width: 161px;
  }
  #title3 {
    display: none;
  }
  .footer h2 {
    margin-right: 0;
    width: 398px;
  }
  .footer {
    gap: 92px;
    margin: 70px 0 101px 39px;
  }
  .footer button {
    width: 199px;
    height: 64px;
  }
}
@media screen and (max-width: 650px) {
  .media {
    max-width: 375px;
  }
  .header {
    margin-left: 24px;
    margin-top: 40px;
    gap: 142px;
    justify-content: flex-start;
  }
  .header__nav {
    display: none;
  }
  #burger {
    display: block;
  }
  #hero-mobile {
    display: block;
    width: 375px;
    height: 200px;
  }
  .hero {
    background-image: none;
    padding: 40px 0 96px 0;
    gap: 15px;
  }
  .hero h1 {
    font-size: 40px;
    line-height: 40px;
    width: 327px;
    margin-left: 24px;
    margin-top: 41px;
  }
  .hero p {
    width: 327px;
    font-size: 15px;
    margin-left: 24px;
    margin-bottom: 15px;
  }
  .btn2 {
    margin-left: 24px;
  }
  .content1 {
    flex-direction: column;
  }
  .content1__left {
    background-image: none;
    width: 375px;
    height: 200px;
  }
  #content1-mobile {
    display: block;
  }
  .content1__right {
    width: 375px;
    height: 377px;
    gap: 24px;
    padding: 72px 24px;
  }
  #tilde1 {
    top: -15px;
    left: 24px;
  }
  .content1__right h2 {
    width: 327px;
  }
  .content1__right p {
    width: 327px;
  }
  .schedule p {
    margin-top: 16px;
  }
  .content2 {
    flex-direction: column;
    width: 375px;
    height: 909px;
  }
  .content2__right {
    margin-top: 0;
    padding: 96px 24px;
    width: 375px;
  }
  .content2__left {
    display: none;
  }
  .content2__h2 {
    display: inline-block;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    width: 327px;
  }
  .brand h3 {
    width: 306px;
  }
  .brand p {
    width: 311px;
  }
  .content2__right p {
    width: 311px;
  }
  .content3 {
    flex-direction: column-reverse;
  }
  .content3__right {
    background-image: url("./images/learn-bg-mobile.svg");
    padding: 323px 30px 30px 170px;
    margin: 0;
  }
  .content3__right h3 {
    margin-left: -10px;
  }
  .content3__right p {
    width: 86px;
  }
  .content3__left {
    width: 375px;
    height: 272px;
    padding: 64px 24px;
  }
  .tilde2 {
    display: none;
  }
  .footer {
    flex-direction: column;
    margin: 100px 24px;
    gap: 47px;
    align-items: flex-start;
    padding: 0;
  }
}
